body {
    background-image: url('header-image_hu9e45a99673134a20da74cc8fcab88bd7_1510159_800x0_resize_box_3.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}

.phase-card {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f8f9fa; 
    border: 1px solid #dee2e6;
    border-radius: 4px;
}

.phase-card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.task-item {
    cursor: move;
    position: relative;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
}

.task-item:hover {
    background-color: #e9ecef;
}

.task-card {
    display: none;
    position: absolute;
    z-index: 1;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 4px;
    transition: opacity 0.2s ease-in-out; 
    opacity: 0; 
}

.task-item:hover .task-card {
    opacity: 1; 
}

.droppable {
    min-height: 100px; 
}

.add-task-link {
    cursor: pointer;
    color: #007bff;
}


.col {
    padding-right: 5px;
    padding-left: 5px;
}

.add-task-form {
    display: none;
    margin-top: 10px;
}

.task-name-input {
    width: calc(100% - 80px); 
    margin-right: 10px;
    display: inline-block;
}